body{
	font-size: 1.1em;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#555;
	background-color:#F5F5F5;
}
.el{
	padding: 40px;
	background-image: url(../images/workstation.jpg);
	margin-bottom: 30px;
	background-color:#0099CC;
	color:white;
	height: 300px;
	background-repeat: no-repeat;
	border: 30px solid rgba(233,19,140,0.5);
}
.container{
	margin-top: 40px;
	margin-bottom: 40px;
	width:90%;
}
.origin-border-box{
	background-origin:border-box;
}
.origin-content-box{
	background-origin:content-box;
}
	