
/* 
    Created on : 05-dic-2019, 19:10:50
    Author     : Amor Rodríguez <amor at marodriguezn@educa.jcyl.es>
   
*/

* { box-sizing: border-box; margin:0px; padding:0px;}
ul, ol {list-style: none; }
a{text-decoration: none; color:#000; }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
body{
	font-family: calibri, arial, sans-serif;
	background-color:cornsilk;
}
.header h1{
	margin-top: 10px;
	padding:15px;
	background-color: lightgreen;
	color:brown;
	font-variant: small-caps;
	font-style: italic;
	text-align: center;
	text-transform: capitalize;
	word-spacing: 5px;
}
article h2{
	padding:10px;
	color:brown;
	font-variant:small-caps;
	letter-spacing:5px;
	
}
article p{
	padding: 5px 0;
}
.column{
	float: left;
}
.sidemenu{
	width: 25%;	
}
.sidemenu a{
	background-color:burlywood;
	margin: 5px 10px;
	padding: 5px;
	display:block;
}
.topmenu{
	background-color:darkseagreen;
	
}
.topmenu li{
	display: inline-block;
	padding: 15px;
}
.topmenu a{
	color: white;
}
.content{
	width:75%;
}

