
/* 
    Created on : 1-dic-2019
    Author     : Moisés Alberto Domínguez Cruz
    Colores utilizados: https://www.w3schools.com/colors/colors_groups.asp


    Fecha de modificacion: 09-jun-2020
    requerimentos: examen final.
    
    Autor: Moisés Alberto Dominguez Cruz
*/

body{
	background-image:url(../images/Le_petit_prince.png);
	background-repeat:no-repeat;
	background-position: top right;
	margin-right:25%;
	background-size: 25%;
	padding-right: 10%;
}

h1{
	color: #FF0000;
	font-family:sans-serif;
	background-color: #FFA500;
	font-variant: normal;
}

h2{
	color: Crimson;
	font-family:sans-serif;
	font-variant: normal;
}

caption{
    color: green;
	caption-side: bottom;
	font-style: italic;
}

table{
	font-family:sans-serif;
	font-variant: normal;
}

.tabla1 td{
    border-bottom: 1px solid #DDD;
}

.tabla1{
	text-align: center;
	margin: 0 auto;
}

.tabla2 th{
    background-color: MediumSeaGreen;
    color: white;
}

.tabla2 tr:nth-child(odd){
    background-color:#F5F5F5;
}

.tabla2 tr:nth-child(even){
    background-color:#E0FFFF;
}

tr th{
	padding: 20px;
}
tr td{
	padding: 15px;
}





