/* 
    Created on : Notepad++
    Author     : Moisés Alberto Domínguez Cruz
    File        : estilo1.css
    Description : Trabajando con selectores
*/

p{background-color:#dddddd;}
div a{
	background-color:#009cde;
	color:#ffffff;
	text-decoration:none;}
.hijo{border:solid red 1px;}


