/* 
    Created on : Notepad++
    Author     : Moisés Alberto Domínguez Cruz
    File        : estilo5.css
    Description : Trabajando con selectores
*/

body{background-color:#009cde}
.hijo{border:solid red 1px;}


